<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avendano.cp_scan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LogInActivity" />
        <activity
            android:name=".Activities.RequestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewRoom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RoomPc"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".Network_Handler.NetworkStateChange"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BackgroundServices.GetNewRepairRequest"
            android:label="@string/app_name" />
        <service
            android:name=".BackgroundServices.SyncingService"
            android:label="@string/app_name" />

        <activity
            android:name=".Activities.ViewPc"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ViewInventoryReport"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RequestForInventory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RequestForRepair"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EditRequestSchedule"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.ViewRepairReport" />
        <activity android:name=".Activities.SignatureActivity" />
        <activity
            android:name=".Activities.Main_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.RoomActivity" />
        <activity android:name=".Activities.RequestListsActivity" />
        <activity android:name=".Activities.SchedulesActivity" />
        <activity android:name=".Activities.ReportActivity" />
        <activity android:name=".Activities.InventoryActivty" />
        <activity android:name=".Activities.AssessPc" />
        <activity android:name=".Activities.RequestPeripherals"></activity>
    </application>

</manifest>